{% extends"secruty/registration.html.twig" %}

{% block name %}
    Login
{% endblock %}

{% block form %}

    </div>
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <div class="login100-form-title" style="background-image: url({{ asset("security/images/bg-01.jpg") }});">
					<span class="login100-form-title-1">
						Sign In
					</span>
                </div>

                <form class="login100-form validate-form"   action="{{ path('user_login') }}" method="post">
                    <div class="wrap-input100 validate-input m-b-26" data-validate="Email is required">
                        <span class="label-input100">Email</span>
                        <input class="input100" type="text" name="_username" placeholder="Enter email" >
                        <span class="focus-input100"></span>
                    </div>

                    <div class="wrap-input100 validate-input m-b-18" data-validate = "Password is required">
                        <span class="label-input100">Password</span>
                        <input class="input100" type="password" name="_password" placeholder="Enter password">
                        <span class="focus-input100"></span>
                    </div>

                    <div class="flex-sb-m w-full p-b-30">



						<div class="txt1  ">
							<a href="/register" class="txt1 ">
                                    Don't have an account?<b class="text-success"> Register</b>
							</a>
						</div>
                    </div>

                    <div class="container-login100-form-btn">
                        <button type="submit" class="login100-form-btn">
                            Login
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}